#introDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: orange;
	transition: all 1s;
}
#CyfrowiLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: auto;
	transform: translate(-50%,-50%);
}
#startGui {
	position:absolute;
	top: 0px;
	left:0px;
}

.fadeOut {
	opacity: 0;
}
#reset{
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:20px;
	height: 20px;
}